.chat-main 
  .chat-main__group-info
    .chat-main__group-info__text
      test
      .chat-main__group-info__text__member
        Member : masa
    =link_to "#" do
      ="Edit"
  .chat-main__message-list
    .chat-main__message-list__box
      .chat-main__message-list__box__name
        masa 
      .chat-main__message-list__box__date
        2019/11/20(Wed) 17:43:01
    .chat-main__message-list__text
      おはよう！
    .chat-main__message-list__bigbox
      .chat-main__message-list__bigbox__name
        masa
      .chat-main__message-list__bigbox__date
        2019/11/20(Wed) 17:43:34
    .chat-main__message-list__bigtext
      今日は夜から雨
  .chat-main__group-message-form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}
    
